/*
Body
 */
body {
	background-image: linear-gradient(135deg, rgba(244, 67, 54, 0.05),
		rgba(244, 67, 54, 0.3));
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
}

div.vertical-center {
	min-height: 100%; /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one 🙂       */
	display: flex;
	align-items: center;
}

div.full-size {
	min-height: 100%; /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one 🙂       */
}

/*
End Body
Start Form
 */
.form-simple .font-small {
	font-size: 0.8rem;
}

.form-simple .header {
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem;
}

.form-simple input[type=email]:focus:not([readonly] ), 
.form-simple input[type=password]:focus:not([readonly] ), 
.form-simple input[type=text]:focus:not([readonly] ), 
.form-simple input[type=number]:focus:not([readonly] ) {
	border-bottom: 1px solid #f44336;
	-webkit-box-shadow: 0 1px 0 0 #f44336;
	box-shadow: 0 1px 0 0 #f44336;
}

.form-simple input[type=email]:focus:not([readonly] ) + label,
.form-simple input[type=password]:focus:not([readonly] ) + label,
.form-simple input[type=text]:focus:not([readonly] ) + label, 
.form-simple input[type=number]:focus:not([readonly] ) + label {
	color: #4f4f4f;
}

.form-simple textarea.md-textarea:focus:not([readonly] ) {
	border-bottom: 1px solid #f44336;
	-webkit-box-shadow: 0 1px 0 0 #f44336;
	box-shadow: 0 1px 0 0 #f44336;
}

.form-simple textarea.md-textarea:focus:not([readonly] ) + label {
	color: #4f4f4f;
}

.form-simple .md-form .prefix.active {
	color: #f44336;
}

.form-simple .md-form .prefix {
	color: #4f4f4f;
}

.form-simple span.error {
	font-size: 80%;
	color: #ff8800;
}

/*
End Form
Start Button
 */
.btn.btn-rounded {
	border-radius: 40px;
}

.btn-outline-red {
	border: 2px solid #f44336 !important;
	background-color: transparent !important;
	color: #f44336 !important;
}

.btn-outline-red:hover {
	border: 2px solid #f44336 !important;
	background-color: #ffebee !important;
	color: #f44336 !important;
}

/*
End Button
 */
a {
	color: #f44336;
}

a:hover {
	color: #c62828;
}

.fab {
	width: 35px;
	height: 35px;
	background-color: #f44336;
	border-radius: 50%;
	box-shadow: 0px 1px 3px 0 #666;
	transition: all 0.1s ease-in-out;
	color: white;
	text-align: center;
	line-height: 1.5;
}

.fab:hover {
	box-shadow: 0px 1px 5px 0 #666;
	transform: scale(1.05);
	color: white;
}

.custom-control-input:checked ~ .custom-control-label::before {
	color: #fff;
	border-color: #f44336;
	background-color: #f44336;
}

/*
End Button
Start Pagination
*/
.pg-red .page-item.active .page-link {
	background-color: #f44336 !important;
	color: #fff;
}

.btn-add {
	background-color: #f44336 !important;
	color: #fff;
}

.btn-add:hover {
	background-color: #f44336 !important;
	color: #fff;
}

img {
	border-radius: 4px;
}

.file-upload {
	margin: 0 10px 0 0;
}

.file-upload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	z-index: 10;
	font-size: 20px;
	cursor: pointer;
	height: 36px;
	opacity: 0;
	filter: alpha(opacity);
}

#fileuploadurl {
	border: none;
	font-size: 12px;
	padding-left: 0;
	width: 250px;
}